.DS_Store
.parcel-cache
dist
node_modules
chain/target/
nodes/*/peerstore
.secrets/
*.keystore
*.jks
*.p12
*.apk
*.aab
android/app-release-bundle.aab
android/app-release-signed.apk
service-account*.json
