@font-face {
  font-family: font5x5;
  src: url("./fonts/5x5.ttf");
}
@font-face {
  font-family: font7x7;
  src: url("./fonts/7x7.ttf");
}
html {
  --minus-pixel: calc(-1 * var(--pixel));
  --half-pixel: calc(0.5 * var(--pixel));
  --pixel-0: 0;
  --pixel-1: var(--pixel);
  --pixel-2: calc(2 * var(--pixel));
  --pixel-3: calc(3 * var(--pixel));
  --pixel-4: calc(4 * var(--pixel));
  --pixel-5: calc(5 * var(--pixel));
  --pixel-6: calc(6 * var(--pixel));
  --pixel-7: calc(7 * var(--pixel));
  --pixel-11: calc(11 * var(--pixel));
  --pixel-13: calc(13 * var(--pixel));
  --pixel-21: calc(21 * var(--pixel));
  --pixel-37: calc(37 * var(--pixel));
  --pixel-42: calc(42 * var(--pixel));
  --pixel-63: calc(63 * var(--pixel));
  --pixel-84: calc(84 * var(--pixel));
  --pixel-105: calc(105 * var(--pixel));
  --pixel-126: calc(126 * var(--pixel));
  --pixel-147: calc(147 * var(--pixel));
  --pixel-168: calc(168 * var(--pixel));
  --pixel-189: calc(189 * var(--pixel));
  --pixel-210: calc(210 * var(--pixel));
  --pixel-231: calc(231 * var(--pixel));
  --pixel-252: calc(252 * var(--pixel));
  --game-width: calc(128 * var(--pixel));
  --shadow-0: 0 0 0 rgba(0, 0, 0, 0);
  --shadow-1: 0 var(--half-pixel) var(--half-pixel) rgba(0, 0, 0, 0.4);
  --shadow-2: 0 var(--pixel) var(--pixel) rgba(0, 0, 0, 0.4);
  height: 100%;
}
body {
  background-color: black;
  font-family: font7x7;
  font-size: var(--pixel-5);
  height: 100%;
  letter-spacing: var(--pixel-1);
  line-height: 1;
  margin: 0;
  overflow: hidden;
  user-select: none;
}
.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  margin: auto;
  text-shadow: var(--shadow-1);
  width: var(--game-width);
}
.content button {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  color: white;
  flex-basis: var(--pixel-21);
  font-family: font5x5;
  font-size: var(--pixel-5);
  letter-spacing: var(--pixel);
  line-height: 1;
  outline: 0 none;
  padding: 0 var(--pixel-7);
  text-indent: var(--pixel);
  transition: all 100ms;
}
.content button:focus,
.content button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border: var(--half-pixel) solid white;
  cursor: pointer;
  outline: 0 none;
}
.content button:active {
  background-color: rgba(0, 0, 0, 0.8);
  outline: var(--half-pixel) solid white;
}
.big-text {
  color: white;
  font-size: var(--pixel-7);
  letter-spacing: var(--pixel-2);
  text-indent: var(--pixel-2);
}
.overflow-hidden {
  overflow: hidden;
}
.blur {
  filter: blur(var(--pixel));
}
