body,
html {
  position: relative;
  width: 100%;
  height: 100%;
}
body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
a {
  color: #0064c8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #0050a0;
}
label {
  display: block;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}
input:disabled {
  color: #ccc;
}
input[type="range"] {
  height: 0;
}
button {
  color: #333;
  background-color: #f4f4f4;
  outline: 0;
}
button:active {
  background-color: #ddd;
}
button:focus {
  border-color: #666;
}
:root {
  --pixel: calc(100vh / 168);
  --pixel-2: calc(2 * var(--pixel));
  --pixel-4: calc(4 * var(--pixel));
  --pixel-5: calc(5 * var(--pixel));
  --pixel-7: calc(7 * var(--pixel));
  --pixel-9: calc(9 * var(--pixel));
  --game-width: calc(100vh * 100 / 168);
  --block-size: calc(100vh * 100 / 1176);
  --block-half: calc(100vh * 100 / 2352);
}
.app {
  background-color: black;
}
.app .game {
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  margin: auto;
  border: var(--pixel) solid black;
  height: 100vh;
  width: var(--game-width);
}
.game .board {
  background: darkgray
    url('data:image/svg+xml,\
<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill-opacity=".5">\
  <rect x="32" width="32" height="32" />\
  <rect y="32" width="32" height="32" />\
</svg>');
  background-size: var(--pixel-4) var(--pixel-4);
  position: relative;
  box-sizing: content-box;
  left: calc(-2 * var(--pixel));
  border: var(--pixel) solid black;
  height: var(--game-width);
  width: var(--game-width);
}
.board .block {
  box-shadow: none;
  position: absolute;
  height: var(--block-size);
  width: var(--block-size);
}
.board .block ul {
  line-height: 1;
}
.game .energy {
  background-color: darkslategray;
  flex-basis: var(--pixel-9);
}
.energy .value {
}
