:root {
  --pixel: calc(100vh / 168);
  --pixel-4: calc(4 * var(--pixel));
  --pixel-7: calc(7 * var(--pixel));
  --pixel-9: calc(9 * var(--pixel));
  --pixel-10: calc(10 * var(--pixel));
  --block-size: calc(14 * var(--pixel));
  --game-width: calc(100 * var(--pixel));
}
body {
  background-color: black;
  margin: 0;
  user-select: none;
}
button {
  border-radius: 0;
  border: none;
  outline: 0;
}
button:hover {
  cursor: pointer;
}
